<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Seller Store", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Products", product_categories_path, remote: true %>
        </li>
        <li id="orders-path">
          <%= link_to "Orders", orders_path, remote: true %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div id="home">
    <h1>Seller Store</h1>
  </div>

  <div id="products" class="hidden">
    <h1>Products</h1>
    <div id="product_categories" class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Product Categories</b>
        </div>
        <div class="list-group">
          <%= render @product_categories %>
        </div>
      </div>
    </div>
    <div id="products_list" class="col-sm-3 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Products List</b>
          <%= link_to fa_icon("plus-square"), "#", class: "pull-right", remote: true %>
        </div>
        <div id="category_products_list" class="list-group">
        </div>
      </div>
    </div>
    <div id="product_details" class="col-sm-5 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Product Details</b>
          <%= link_to fa_icon("pencil-square-o"), "#", class: "pull-right", remote: true %>
        </div>
        <div id="products_desc">
        </div>
      </div>
    </div>
  </div>

  <div id="orders" class="hidden">
    <h1>Orders</h1>
    <div id="processing" class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Procesing Orders</b>
        </div>
        <div id="processing_list" class="list-group">
        </div>
      </div>
    </div>
    <div id="packed" class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Packed Orders</b>
        </div>
        <div id="packed_list" class="list-group">
        </div>
      </div>
    </div>
    <div id="picked" class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Picked Orders</b>
        </div>
        <div id="picked_list" class="list-group">
        </div>
      </div>
    </div>
    <div id="delivered" class="col-sm-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Delivered Orders</b>
        </div>
        <div id="delivered_list" class="list-group">
        </div>
      </div>
    </div>
  </div>
</div>



<!-- new product model -->
